.container {
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}


.wrapper {
  width: 80%;
  display: flex;
  flex:1;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 40px;
  margin-top: 30px;
  
}

.line {
  border-bottom: 1px solid #d8dee2;
  height: 47px;
border-bottom: 1px solid black;
  display: flex;
  flex: 1;
  background-color: blueviolet;
}

.cardContainer {
  width: 280px;
  height: 280px;
  border: 1px solid #d8dee2;
  display: flex;
  margin: 20px;
  border-radius: 10px;
}

.textContainer {
  display: flex;
  flex: 1;
  margin: 8px;
  flex-direction: column;
}

.jobTitle{
  font-weight: 400;
  font-size: 17px;
  font-family: Open Sans;
  text-align: left;
  color: #333;
  height: 60px;
}

.companyName {
  font-weight: 200;
  font-size: 17px;
  font-family: Open Sans;
  text-align: left;
  color: grey;
  height: 60px;
  border-bottom: 1px solid #d8dee2;

}

.date {
  font-weight: 400;
  font-size: 16px;
  font-family: Open Sans;
  text-align: left;
  color: #333;
}

.buttonConatiner {
  display:'flex';
  background-color: hotpink;
  width:'60%';
  flex: 1;
  border-bottom: 1px solid black;
}

.desrciption{
  font-weight: 400;
  font-size: 14px;
  font-family: Open Sans;
  text-align: left;
  color: #333;
  height: 80px;
  border-bottom: 1px solid #d8dee2;
}

.button {
  height: 50px;
  width: 140px;
  bottom: 0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  background-color: #3174ee;
  border: none;
  margin-top: auto;
  border-radius: 10px;
  margin-right: 8px;
  margin-top: 8px;
  margin-left: 8px;
  outline:none;
  cursor: pointer;
}

.button:hover {
  background: white;
  color: #3174e4;
  box-shadow: 0 1px 32px -8px rgba(0,0,0,.2);
}


.cardContainer:hover {
  background: #fafbfc;
    box-shadow: 0 1px 32px -8px rgba(0,0,0,.2);
}